<!DOCTYPE html>
<html class='mobile'>
<head>
  <title>Sandbox016Variants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='phone'>

<div id='main'>

  <section id='mobile-content'>
    <%= yield %>
  </section>

</div>

</body>
</html>
